<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS} [ESU] %-5level [%thread] %logger{36}[%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>esu.log</File>
        <encoder>
            <pattern>%d{yy/MM/dd HH:mm:ss.SSS} [ESU] %-5level [%thread] %logger{36}[%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>esu.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="mx.edu.um" level="DEBUG"/>
    <logger name="org.spingframework" level="DEBUG"/>
    <logger name="org.hibernate.sql" level="TRACE"/>
    <logger name="org.hibernate.type" level="TRACE"/>
    <root level="WARN">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>